# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.dSYM

docs/_build/*
build/*

# Python
__pycache__
.cache
*.pyc
.hypothesis

.project
.pydevproject

.DS_Store

# Temporary stuff
tmp/

# Dependency file
.depend

.eggs
dist/
TotalDepth.egg-info/

# PyCharm
.idea

# Coverage artifacts
.coverage
htmlcov/

# The contents is created when testing and have data that is randomly generated.
tests/unit/test_util/test_plot/test_svg/*

# General stuff to ignore
gitignore/

# Airspeed velocity benchmarks
.asv

# Generated binary files
tests/integration/test_LIS/test_core/binary_files
benchmarks/TotalDepth/LIS/core/binary_files/

# Binary test data
data/

private/

