include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include ReadMe.txt
include Makefile

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include src *.pyx

graft src/TotalDepth/LIS/core/src/cp
graft src/TotalDepth/LIS/core/src/cpp

include docs/make.bat
include docs/Makefile
recursive-include docs/source *
recursive-include docs/_build/html *
recursive-include docs/_build/latex *.pdf

recursive-include example_data *
recursive-include images *
