Cython==3.2.4
Sphinx==9.1.0
beautifulsoup4==4.14.3
colorama==0.4.6
lxml==6.0.2
numpy==2.4.4
pillow==12.2.0
psutil==7.2.2
pytest==9.0.2
pytest-cov==7.1.0
requests==2.33.1
setuptools==82.0.1
wheel==0.46.3
