attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
Cython==0.29.21
idna==2.10
iniconfig==1.1.1
lxml==4.6.1
numpy==1.19.4
packaging==20.4
Pillow==8.0.1
pluggy==0.13.1
psutil==5.7.3
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.2
urllib3==1.25.11
