body {
font-size:      12px;
font-family:    arial,helvetica,sans-serif;
margin:         6px;
padding:        6px;
}

h1 {
color:            IndianRed;
font-family:      sans-serif;
font-size:        14pt;
font-weight:      bold;
}

h2 {
color:          IndianRed;
font-family:    sans-serif;
font-size:      14pt;
font-weight:    normal;
}

h3 {
color:          Black;
font-family:    sans-serif;
font-size:      12pt;
font-weight:    bold;
}

h4 {
color:          FireBrick;
font-family:    sans-serif;
font-size:      10pt;
font-weight:    bold;
}

h5 {
color:          FireBrick;
font-family:    sans-serif;
font-size:      10pt;
}

table.filetable {
    border:         2px solid black;
    font-family:    monospace;
    color:          black;
}

th.filetable, td.filetable {
    /* border: 1px solid black; */
    border: 1px;
    border-top-style:solid;
    border-right-style:dotted;
    border-bottom-style:none;
    border-left-style:none;
    vertical-align:top;
    padding: 2px 6px 2px 6px; 
}

table.monospace {
border:            2px solid black;
border-collapse:   collapse;
font-family:       monospace;
color:             black;
}

th.monospace, td.monospace {
border:            1px solid black;
vertical-align:    top;
padding:           2px 6px 2px 6px; 
}

/* Table for well site data. */
table.wsd {
border:            2px solid black;
border-collapse:   collapse;
font-family:        sans-serif;
font-size:          10pt;
color:             black;
}

th.wsd, td.wsd {
border:            1px solid black;
vertical-align:    top;
padding:           2px 6px 2px 6px; 
}

td.wsdNone {
border:            1px solid black;
vertical-align:    top;
padding:           2px 6px 2px 6px; 
color:             red;
}

span.lrFileTell {
    color:          OrangeRed;
    font-family:    monospace;
    /* font-weight:    bold; */
    /* font-style:     italic; */
}

span.lrType {
    color:          blue;
    /* font-family:    monospace; */
    font-weight:    bold;
    /* font-style:     italic; */
}

span.lrDescription {
    color:          green;
    /* font-family:    monospace; */
    /* font-weight:    bold; */
    font-style:     italic;
}
