body {
font-size:      12px;
font-family:    arial,helvetica,sans-serif;
margin:         6px;
padding:        6px;
}

h1 {
color:            IndianRed;
font-family:      sans-serif;
font-size:        14pt;
font-weight:      bold;
}

h2 {
color:          IndianRed;
font-family:    sans-serif;
font-size:      14pt;
font-weight:    normal;
}

h3 {
color:          Black;
font-family:    sans-serif;
font-size:      12pt;
font-weight:    bold;
}

h4 {
color:          FireBrick;
font-family:    sans-serif;
font-size:      10pt;
font-weight:    bold;
}

h5 {
color:          FireBrick;
font-family:    sans-serif;
font-size:      10pt;
}

table.filetable {
    border:         2px solid black;
    font-family:    monospace;
    color:          black;
}

th.filetable, td.filetable {
    /* border: 1px solid black; */
    border: 1px;
    border-top-style:solid;
    border-right-style:dotted;
    border-bottom-style:none;
    border-left-style:none;
    vertical-align:top;
    padding: 2px 6px 2px 6px; 
}

table.monospace {
border:            2px solid black;
border-collapse:   collapse;
font-family:       monospace;
color:             black;
}

th.monospace, td.monospace {
border:            1px solid black;
vertical-align:    top;
padding:           2px 6px 2px 6px; 
}

/* Table for well site data. */
table.wsd {
border:            2px solid black;
border-collapse:   collapse;
font-family:        sans-serif;
font-size:          10pt;
color:             black;
}

th.wsd, td.wsd {
border:            1px solid black;
vertical-align:    top;
padding:           2px 6px 2px 6px; 
}

td.wsdNone {
border:            1px solid black;
vertical-align:    top;
padding:           2px 6px 2px 6px; 
color:             red;
}

span.lrFileTell {
    color:          OrangeRed;
    font-family:    monospace;
    /* font-weight:    bold; */
    /* font-style:     italic; */
}

span.lrType {
    color:          blue;
    /* font-family:    monospace; */
    font-weight:    bold;
    /* font-style:     italic; */
}

span.lrDescription {
    color:          green;
    /* font-family:    monospace; */
    /* font-weight:    bold; */
    font-style:     italic;
}

p.error {
color:              white;
background:         red;
font-family:        sans-serif;
font-size:          10pt;
font-style:         bold;
margin:             6px;
padding:            6px;
}

p.copyright {
color:              black;
font-family:        sans-serif;
font-size:          9pt;
font-style:         italic;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* #111 Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 6px;
}

/* The navigation menu links */
.sidenav a {
  padding: 0px 6px 0px 6px;
  text-decoration: none;
  font-size: 10pt;
  color: blue; /* #818181; */
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: sienna; /*#f1f1f1;*/
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
